.product-card{
    color: black;

}

.image-wrapper{
    display: flex;
    align-items: flex-start;
    & img{
        width: 380px;
        height: 380px;
        position: relative;
    }

    & button{
        position: absolute;
    }
}

.product-name{
    font-size: 30px;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-favorite{
    border: none;
    background: none;
}

.add-to-cart{
    background-color: rgb(87, 162, 87);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.remove-to-cart{
    background-color: rgb(160, 165, 160);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
}